<!DOCTYPE html>
<html lang="Fa-IR" dir="rtl">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
        <meta name="description" content="با اپلیکیشن داها میتونی خیلی راحت کارهای مربوط به دانشگاه خودت رو انجام بدی؛ کارهایی مثل دانلود چارت درسی، سامانه های مهم، دریافت اخبار و مسایل مربوط به دانشگاه و دانشجویان بصورت نوتیفیکیشن و ایمیل، دریافت جزوه های درسی، معرفی یا تبلیغ از کسب و کارت و کلی امکانات جذاب دیگه!">
        <meta name="keywords" content="داها، دانشکده علامه حسن زاده آملی، اپلیکیشن داها، اپلیکیشن اختصاصی دانشکده علامه حسن زاده آملی، کامپیوتر، فن آور در داها، چارت درسی در داها، پسران آمل، آمل، اپ داها، انجمن کامپیوتر، کسب و کارهای دانشجویان، پلتفرم داها، سایت بوستان، فنی و حرفه ای، دانشگاه فنی و حرفه ای، بوستان، علامه حسن زاده آملی، نرم افزار، دانشجو">
        <meta name="author" content="محمد مهدی ربیعی">
        <meta name="theme-color" content="#fff">
        <meta name="robots" content="index, follow">

        <!-- IMPORT CSS MAIN -->
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style-landing.min.css') }}">
        <!-- IMPORT FONT AWESOME -->
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='fonts/css/fontawesome.min.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='fonts/css/all.min.css') }}">

        <!-- IMPORT FAVICON -->
        <link rel="shortcut icon" href="{{ url_for('static', filename='media/imgs/icon.svg') }}" type="image/x-icon">
        
        <!-- TITLE -->
        <title>داها - اپلیکیشن اختصاصی دانشکده علامه حسن زاده آملی</title>
    </head>
    <body>

        <!-- NAVBAR -->
        <nav>
            <ul>
                <li class="far fa-bars faBars" style="margin-left: 15px; font-size: 20px;" onclick="navbarMobileToggle()"></li>
                <a href="/"><img src="{{ url_for('static', filename='media/imgs/daha_logo.svg') }}" alt="daha logo" title="داها - اپلیکیشن اختصاصی دانشکده علامه حسن زاده آملی" width="45" draggable="false" style="border-radius: 12px;"></a>
            </ul>
            <ul id="navbarUL">
                <a href="#intro"><li>معرفی داها</li></a>
                <a href="#features"><li>امکانات</li></a>
                <a href="#contact"><li>ارتباط با ما</li></a>
                <a href="/api"><li>APIs</li></a>
            </ul>
        </nav>


        <!-- HEADER/HERO -->
        <header>
            <div class="hero">
                <div>
                    <p class="badge badge-outline-blue">اپلیکیشن اختصاصی دانشکده علامه حسن زاده آملی</p>
                    <h1><span>داها</span>، دسترسی سریع به تمام امکانات دانشگاه</h1>
                    <p>با اپلیکیشن داها میتونی خیلی راحت کارهای مربوط به دانشگاه خودت رو انجام بدی؛ کارهایی مثل دانلود چارت درسی، سامانه های مهم، دریافت اخبار و مسایل مربوط به دانشگاه و دانشجویان بصورت نوتیفیکیشن و ایمیل، دریافت جزوه های درسی، معرفی یا تبلیغ از کسب و کارت و کلی امکانات جذاب دیگه!</p>
                    <a href="#download">
                        <button class="btn button">دانلود اپلیکیشن</button>
                    </a>
                    <a href="#intro">
                        <button class="btn button-outline">معرفی داها</button>
                    </a>
                </div>
                <div>
                    <img src="{{ url_for('static', filename='media/imgs/screenshots/shot-1.jpg') }}" alt="hero-img" draggable="false">
                </div>
            </div>
        </header>


        <!-- MAIN -->
        <main>
            <!-- DOWNLOAD -->
            <section class="download" id="download">
                <div class="download-container">
                    <div>
                        <h2><span></span> دانلود اپلیکیشن</h2>
                        <p style="margin-bottom: 20px; font-weight: 500;">همین حالا داها رو دانلود کن و از امکانات جذابش استفاده کن...</p>
                        <span>
                            <a href="{{ url_for('static', filename='media/dl/android/DahaV1.0.0.apk') }}">
                                <img src="{{ url_for('static', filename='media/imgs/elements/androidapp.svg') }}" alt="Download App">
                            </a>
                            <!-- <a href="">
                                <img src="{{ url_for('static', filename='media/imgs/elements/bazar.svg') }}" alt="Bazar">
                            </a>
                            <a href="">
                                <img src="{{ url_for('static', filename='media/imgs/elements/myket.svg') }}" alt="Myket">
                            </a> -->
                            <a href="http://dahauni.ir/">
                                <img src="{{ url_for('static', filename='media/imgs/elements/pwa.svg') }}" alt="PWA">
                            </a>
                            <a href="{{ url_for('static', filename='media/dl/windows/DahaWin.v1.0.0.exe') }}">
                                <img src="{{ url_for('static', filename='media/imgs/elements/windows.svg') }}" alt="Windows">
                            </a>
                        </span>
                    </div>
                </div>
            </section>

            <!-- INTRO -->
            <section class="intro" id="intro">
                <div class="intro-container">
                    <div>
                        <h2><span></span> معرفی اپلیکیشن داها</h2>
                        <p>تیم انجمن رشته کامپیوتر دانشکده علامه حسن زاده آملی در مهر ماه سال 1401 با ایده دسترسی به همه سامانه های مرتبط، ارسال نوتیفیکیشن و معرفی کسب و کارهای دانشجویان و دست ساخته های آنها آغاز به طراحی اپلیکیشن نموده است.</p>
                        <p>اپلیکیشن داها با امکانات قابل ارتقا در دسترس دانشجویان و اساتید قرار گرفته و امیدواریم در مسیر پیشرفت و بهبود آن با ارایه نظرات خود یاری گر ما باشید.</p>
                        <p>حال در تاریخ 1402/12/02 دانشجو محمد مهدی ربیعی تصمیم به ایجاد یک پلتفرم جامعه تر گرفته است و سعی شده در این پلتفرم کاستی های سیستم قبلی برطرف شود.</p>
                    </div>
                </div>
            </section>

            <!-- FEATURES -->
            <section class="features" id="features">
                <div class="features-container">
                    <h2><span></span> امکانات اپلیکیشن داها</h2>
                    <div>
                        <div class="card">
                            <div class="card-header">
                                <img src="{{ url_for('static', filename='media/imgs/icon-cards/solid/budget-vector-free-icon-set-34.png') }}" alt="">
                            </div>
                            <div class="card-body">
                                <h4>رشته ها</h4>
                                <p>در این بخش شما می توانید چارت درسی مربوط به رشته خود را دانلود نمایید.</p>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header">
                                <img src="{{ url_for('static', filename='media/imgs/icon-cards/solid/business-vector-free-icon-set-33.png') }}" alt="">
                            </div>
                            <div class="card-body">
                                <h4>سامانه ها</h4>
                                <p>در این بخش شما می توانید بصورت مستقیم به سایت دانشکده و سامانه های مورد نیاز دسترسی داشته باشید.</p>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header">
                                <img src="{{ url_for('static', filename='media/imgs/icon-cards/solid/kitchenware-and-items-vector-free-icon-set-39.png') }}" alt="">
                            </div>
                            <div class="card-body">
                                <h4>رزرو غذا</h4>
                                <p>در این بخش شما می توانید به سامانه رزرو غذا (نسخه جدید و قدیمی) دسترسی داشته باشید.</p>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header">
                                <img src="{{ url_for('static', filename='media/imgs/icon-cards/solid/leader-vector-free-icon-set-21.png') }}" alt="">
                            </div>
                            <div class="card-body">
                                <h4>انجمن ها</h4>
                                <p>در این بخش شما می توانید اطلاعاتی در مورد انجمن هایی که در دانشکده وجود دارد کسب کنید.</p>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header">
                                <img src="{{ url_for('static', filename='media/imgs/icon-cards/solid/research-vector-free-icon-set-32.png') }}" alt="">
                            </div>
                            <div class="card-body">
                                <h4>فن آور</h4>
                                <p>در این بخش شما می توانید مهارت های خود را ثبت و به عنوان کارجو منتظر کار مناسب خود باشید و همچنین اگر صاحب شغل هستید می توانید از شغل خود تبلیغ کنید.</p>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header">
                                <img src="{{ url_for('static', filename='media/imgs/icon-cards/solid/marketing-vector-free-icon-set-30.png') }}" alt="">
                            </div>
                            <div class="card-body">
                                <h4>رویداد ها</h4>
                                <p>در این بخش شما می توانید به رویداد های (کنفرانسها، مسابقات، اخبار و ...) اخیر دانشکده دسترسی داشته باشید.</p>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header">
                                <img src="{{ url_for('static', filename='media/imgs/icon-cards/solid/40-Free-SEO-icons-60.png') }}" alt="">
                            </div>
                            <div class="card-body">
                                <h4>اعلانات اساتید</h4>
                                <p>در این بخش شما می توانید به اعلاناتی که اساتید ثبت میکنند دسترسی داشته باشید، که میتواند شامل موضوعات مختلف باشد (اعلام تاریخ برگزاری امتحانات یا عدم تشکیل کلاس و ...).</p>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header">
                                <img src="{{ url_for('static', filename='media/imgs/icon-cards/solid/books-vector-free-icons-set-29.png') }}" alt="">
                            </div>
                            <div class="card-body">
                                <h4>انتشارات</h4>
                                <p>در این بخش شما می توانید جزوه های مربوط به درس های خود را دانلود نمایید.</p>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header">
                                <li class="far fa-plus" style="font-size: 22px;"></li>
                            </div>
                            <div class="card-body">
                                <h4>بوستان، نقشه دانشکده و...</h4>
                                <p>در بخش بوستان به سامانه بوستان و در بخش نقشه دانشکده هم به موقعیت مکانی دانشکده دسترسی دارید...</p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <!-- CONTACT -->
            <section class="contact" id="contact">
                <div class="contact-container">
                    <h4>راه های ارتباطی با ما</h4>
                    <ul>
                        <a href="tel:09031265448"><span class="far fa-phone"></span> ارتباط از طریق تماس تلفنی</a>
                        <a href="https://eitaa.com/Mahdirabiee"><span class="far fa-send"></span> ارتباط از طریق پیام رسان ایتا</a>
                        <a href="mailto:info.daha.uni@gmail.com"><span class="far fa-envelope"></span> ارتباط از طریق ارسال ایمیل</a>
                    </ul>
                </div>
            </section>
        </main>


        <!-- FOOTER -->
        <footer>
            <p>کلیه حقوق مادی و معنوی سایت برای داها محفوظ است.</p>
        </footer>


        <!-- ACTION BUTTON -->
        <div class="action-button" onclick="modalToggle()" title="راهنمای نصب">
            <button class="btn far fa-question"></button>
        </div>

        <!-- MODAL -->
        <div class="modal-overlay" id="modal">
            <i onclick="modalToggle()"></i>
            <div class="modal">
                <li class="modal-line" onclick="modalToggle()"></li>
                <details open>
                    <summary><h4>چگونه میتونم از داها استفاده کنم؟</h4><li class="far fa-angle-down"></li><li class="far fa-angle-up" style="display: none;"></li></summary>
                    <div>
                        <ul>
                            <li>نصب اپلیکیشن</li>
                            <p>داها رو میتونی به صورت مستقیم و یا اپ استور بازار دانلود کنی، حتی میتونی از نسخه PWA و EXE داها هم استفاده کنی.</p>
                        </ul>
                        <ul>
                            <li>ثبت نام</li>
                            <p>لازمه توی این مرحله در پلتفرم داها ثبت نام کنید و دقت داشته باشید باید از یک ایمیل معتبر استفاده کنید. <span style="font-weight: 500; color: #0b0b0b; margin-top: 10px;">(ممنون میشم اگه قوانین ثبت نام رو قبل ثبت نام بخونی)</span></p>
                        </ul>
                        <ul>
                            <li>شروع فعالیت</li>
                            <p>تبریک میگم 🎉، حالا میتونی از امکانات داها استفاده کنی.</p>
                        </ul>
                    </div>
                </details>
                <details open>
                    <summary><h4>روش نصب نسخه APK <span style="font-size: 12px;">(Android)</span></h4><li class="far fa-angle-down"></li><li class="far fa-angle-up" style="display: none;"></li></summary>
                    <div>
                        <ul>
                            <p>اول باید اپلیکیشن رو دانلود کنی، بعد روی دکمه <span style="background-color: #0b0b0b; color: #fff; padding: 0 0.2rem; border-radius: 5px;">نصب (install)</span> بزن تا فرآیند نصب کامل بشه.</p>
                        </ul>
                    </div>
                </details>
                <details open>
                    <summary><h4>روش نصب نسخه PWA <span style="font-size: 12px;">(Cross Platform)</span></h4><li class="far fa-angle-down"></li><li class="far fa-angle-up" style="display: none;"></li></summary>
                    <div>
                        <ul>
                            <p>توجه کن این نسخه رو فقط میتونی از داخل مرورگر دانلود و نصب کنی، در مرورگرها یه دکمه سه خط وجود داره روی اون بزن و بعد روی گزینه <span style="background-color: #0b0b0b; color: #fff; padding: 0 0.2rem; border-radius: 5px;">Install App</span> بزن تا نصب انجام بشه، در کامپیوتر هم گزینه نصب بالا کنار نوار جستجو هست که با زدن روی این گزینه میتونی نصب رو انجام بدی.</p>
                            <p style="font-weight: 500; color: #0b0b0b; margin-top: 10px;">این نسخه رو میتونی روی تمام دستگاه ها نصب و اجرا کنی.</ style="font-weight: 500; color: #0b0b0b; margin-top: 10px;">
                        </ul>
                    </div>
                </details>
                <details open>
                    <summary><h4>روش نصب نسخه EXE <span style="font-size: 12px;">(Windows)</span></h4><li class="far fa-angle-down"></li><li class="far fa-angle-up" style="display: none;"></li></summary>
                    <div>
                        <ul>
                            <p>اول نرم افزار با فرمت EXE رو دانلود کن بعد فایل رو اجرا کن و به ترتیب مراحل نصب رو انجام بده.</p>
                        </ul>
                    </div>
                </details>
            </div>
        </div>



        <!-- IMPORT JS -->
        <script src="{{ url_for('static', filename='js/app-landing.js') }}"></script>
    
    </body>
</html>