
{% extends 'includes/base.html' %}

{% block des %}داها{% endblock des %}
{% block key %}داها{% endblock key %}
{% block title %}داشبورد مدیر > تیکت ها - داها{% endblock title %}


{% block body %}

    {% include 'includes/modal.html' %}

    <div class="container-main">
        <aside class="sidebar-right" id="navbarMobileSidebarRight">

            {% include 'includes/navbar.html' %}

        </aside>
        <aside class="sidebar-left" id="sidebarRight">
            <a href="javascript:toggleNavbarMobile()" id="actionLinkClickToggle" style="display: none; position: fixed; inset: 0; z-index: 20; width: 100%; height: 100%;"></a>
            <div class="background-image">
                {% include 'includes/navbar_mobile.html' %}
            </div>
            <div class="grid-sidebar-left" style="top: -50px;">
                <!-- SHOW TICKET -->
                <div class="card-info" style="height: 85px;">
                    <div class="card-info-body">
                        <div>
                            <h4>{{ number_ticket }} تیکت</h4>
                            <p>مشاهده تمام تیکت ها</p>
                        </div>
                        <li class="far fa-ticket ticket-icon"></li>
                    </div>
                </div>
            </div>

            <!-- SECTION CONTENT -->
            <!-- SECTION TICKET -->
            <section class="section-content">
                <!-- TITLE HEADER -->
                <div class="title-header">
                    <h3 class="ticket-title">تیکت ها</h3>
                </div>

                <!-- TABLE CONTAINER -->
                <div class="table-container">
                    <div class="table-header">
                        <li>ردیف</li>
                        <li>نام و نام خانوادگی</li>
                        <li>موضوع تیکت</li>
                        <li>متن تیکت</li>
                        <li>پاسخ تیکت</li>
                        <li>ایمیل</li>
                        <li>تاریخ ثبت</li>
                        
                        <li class="form-toolbox-li">
                            <form action="" method="post" class="form-toolbox">
                                <button type="submit" title="پاسخ" class="badge" disabled><span class="far fa-reply"></span></button>
                            </form>
                            <form action="" method="post" class="form-toolbox">
                                <button type="submit" title="حذف" class="badge" disabled><span class="far fa-trash"></span></button>
                            </form>
                        </li>
                    </div>
                    {% if cursor_ticket_show | length >= 1 %}
                        {% for ticket in cursor_ticket_show %}
                            <div class="table-body table-body-users">
                                <li>{{ticket[0]}}</li>
                                <li>{{ticket[1]}}</li>
                                <li title="{{ticket[2]}}">{{ticket[2]}}</li>
                                <input type="text" id="tableBodyComments" value="{{ticket[4]}}" title="{{ticket[4]}}">
                                <input type="text" id="tableBodyComments" value="{{ticket[5]}}" title="{{ticket[5]}}">
                                <li><a href="mailto:{{ticket[3]}}">{{ticket[3]}}</a></li>
                                <li>{{ticket[6]}}</li>

                                <li class="form-toolbox-li">
                                    <section class="form-toolbox">
                                        <a href="javascript:modalAnswerTicketFunc({{ticket[0]}})">
                                            <button type="submit" title="پاسخ" class="badge badge-blue"><span class="far fa-reply"></span></button>
                                        </a>
                                    </section>
                                    <form action="/delete_ticket/{{ticket[0]}}" method="post" class="form-toolbox">
                                        <button type="submit" title="حذف" class="badge badge-red"><span class="far fa-trash"></span></button>
                                    </form>
                                </li>
                            </div>

                            <!-- MODAL: ANSWER TICKET ({{ticket[0]}}) -->
                            <div class="modal-overlay" id="{{ticket[0]}}">
                                <a href="javascript:modalAnswerTicketFunc({{ticket[0]}})"><i></i></a>
                                <div class="modal answer-ticket">
                                    <a href="javascript:modalAnswerTicketFunc({{ticket[0]}})" style="display: flex;align-items: center;justify-content: center;"><div class="modal-line" onclick="modalPossibilities7Func()"></div></a>
                                    <div class="modal-header">
                                        <h4>درج پاسخ ({{ticket[0]}})</h4>
                                    </div>
                                    <div class="modal-body">
                                        <!-- FORM: SEND ANSWER TICKET -->
                                        <form action="/answer_ticket/{{ticket[0]}}" method="post">
                                            <input type="hidden" name="titleTicket" value="{{ticket[2]}}">
                                            <textarea name="answerTicket" rows="5" placeholder="درج پاسخ" aria-placeholder="درج پاسخ" aria-label="درج پاسخ" required></textarea>
                                            <input type="submit" value="ارسال" aria-label="ارسال">
                                        </form>

                                        <div id="hints">
                                            <h4><span class="far fa-exclamation-circle"></span> اطلاعات</h4>
                                            <h4 style="font-size: 1rem; margin: 0;">{{ticket[2]}}</h4>
                                            <p>{{ticket[4]}}</p>
                                        </div>
                                        <div id="hints">
                                            <li style="margin-bottom: 30px;">برای ایجاد فاصله بین خطوط در قسمت <strong>درج پاسخ</strong> می توانید از کلمه یا تگ <kbd title="<br>">br</kbd> به اینصورت <input type="text" value="<br>" readonly title="<br>" style="all: unset; width: 30px;"> استفاده کنید، به ازای هر br یک خط جدید ایجاد می شود.</li>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    {% else %}
                        <p style="color: #808080; margin-top: 10px;">موردی یافت نشده است.</p>
                    {% endif %}
                </div>
            </section>
        </aside>
    </div>

    <style>
        .table-container li.form-toolbox-li {
            width: 50px;
            display: flex;
            overflow: visible;
            align-items: center;
            justify-content: center;
        }
        form.form-toolbox, section.form-toolbox {
            margin: auto;
            display: flex;
            margin-left: 3px;
            align-items: center;
        }
        form.form-toolbox button .far, section.form-toolbox button .far {
            margin: 0;
        }
    </style>

    <script>
        function modalAnswerTicketFunc(id) {
            document.getElementById(id).classList.toggle("modal-toggle");
        }
    </script>

{% endblock body %}
