
{% extends 'includes/base.html' %}

{% block des %}بازیابی رمز عبور{% endblock des %}
{% block key %}داها، بازیابی رمز عبور{% endblock key %}
{% block title %}بازیابی رمز عبور - داها{% endblock title %}


{% block body %}

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <div class="alert" id="alert-diplay">
                    {{ messages[0] }}
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}

    <div class="form-in">
        <!-- FORM: FORGET PASSWORD -->
        <form action="/user/forget_password/" method="post" class="form-forget-password">
            <!-- LOGO DAHA -->
            <img src="{{ url_for('static', filename='media/images/icon.svg') }}" alt="logo daha" class="form-in-logo" draggable="false">

            <h4 style="margin-top: 120px;">بازیابی رمز عبور</h4>
            <p style="margin-top: -15px; margin-bottom: 20px; font-size: 14px; color: #505050;">لطفا ایمیل خود را وارد کنید.</p>

            <input type="email" name="email" placeholder="ایمیل" aria-placeholder="ایمیل" aria-label="ایمیل" required>
            <input type="submit" value="ادامه" aria-label="ادامه">

            <!-- LOGIN LINK -->
            <a href="{{url_for('login')}}">در داها ثبت‌ نام کرده‌اید؟ ورود</a>
        </form>
    </div>

{% endblock body %}
